@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&display=swap');

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --primary-background-color: #494949;
  --secondary-background-color: #7C7A7A;
  --font-color: #FFFFFF;
  --primary-color: #FF5D73;
  --secondary-color: #FF6700;
}

body {
  background-color: var(--primary-background-color);
  color: var(--font-color);
  font-family: 'Libre Franklin', sans-serif;
  overflow-x: hidden;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
textarea {
  resize: vertical; /* Allow vertical resizing of textarea */
}